* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
}
.page-decoration-div-container {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  width: 600px;
}
.page-decoration-wrapper {
  padding: 50px 100px;
  border: 1px solid blue;
  align-items: space-between;
  margin: 0 auto;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 600px;
  height: 557.142857px;
  margin: 30px;
}

.grid div{
  border: 1px solid lightgray;
  flex-grow: 1;
  height: calc(100% / 13);
  width: calc(100% / 14);
}

.grid div.snail {
  background-image: url('../images/snail.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}


.grid div.start-strip {
  background-color: rgb(77, 206, 77);
}
.grid div.road {
  background-color: grey;
}
.grid div.rat {
  background-image: url('../images/rat.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.grid div.middle-strip {
  background-color: rgb(138, 197, 61);
}
.grid div.water {
  background-color: lightskyblue;
}
.grid div.pipe {
  background-color: lightgray;
}
.grid div.hole {
  background-color: black;
}
.grid div.fire {
  background-color: rgb(250, 107, 54);
}
.grid div.crisp-packet {
  background-color:rgb(247, 216, 44)
}
.grid div.twig {
  background-color: silver;
}
.grid div.unsafe { /* move up when unsafe land sorted */
  background-color: rgb(231, 123, 123);
}


/* .popup-start-hidden, .popup-lose-hidden, .popup-win-hidden {
  display: none;
} */

.popup-start, .popup-lose, .popup-win{
  position:absolute;
  width: 40%;
  height: 40%;
  background: white;
  /* display: none; */
}

.popup-lose, .popup-win {
  display: none;
}