* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}
.page-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  background-image: url('../images/bg3.jpg');
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .page-decoration-div {
  border: 1px solid green;
  width: 100px;
  height: 50px;
} */

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 600px;
  height: 557.142858px;
  margin: 20px;
}

.grid div{
  flex-grow: 1;
  height: calc(100% / 13);
  width: calc(100% / 14);
}

.grid div.start-strip {
  background-image: url('../images/start-strip1.png');
  background-color: #cec8b7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid div.road {
  background-color: #cec8b7;
}
.grid div.rat {
  background-image: url('../images/rat1.png');
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: #cec8b7; */
  transform: scale(1);
  background-position-y: center;
}

.grid div.middle-strip {
  background-image: url('../images/middle-strip1.png');
  background-color: #242533;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid div.pipe {
  background-color: rgb(44, 44, 49);
  background-image: url('../images/pipe-end.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.grid div.pipe-body {
  background-color: rgb(44, 44, 49);
  background-image: url('../images/pipe-body.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.twig-start {
  background-color: rgb(44, 44, 49);
  background-image: url('../images/twig-start.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.grid div.twig-middle {
  background-color: rgb(44, 44, 49);
  background-image: url('../images/twig-middle.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.grid div.twig-end {
  background-color: rgb(44, 44, 49);
  background-image: url('../images/twig-end.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.path {
  background-color: rgb(173, 159, 140);
}

.grid div.unsafe { /* move up when unsafe land sorted */
}
.grid div.water {
  background-color: #242533;
}
.grid div.crisp-packet {
  background-image: url('../images/crisps.PNG');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(1);
}
.grid div.hole {
  background-image: url('../images/hole.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #cec8b7;
}
.grid div.fire {
  /* background-color: rgb(250, 107, 54); */
  background-image: url('../images/fire2.gif');
  background-repeat: no-repeat;
  background-size: 120%;
  background-color: #cec8b7;
}
/* .popup-start-hidden, .popup-lose-hidden, .popup-win-hidden {
  display: none;
} */
.grid div.snail {
  background-image: url('../images/snailsmall.PNG');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
/* .snail img{
  transform: scale(1.5)
} */
.grid div.board {
  /* background-color: silver; */
}
.popup-start, .popup-lose, .popup-win{
  position:absolute;
  width: 900px;
  height: 700px;
  background: transparent;
  background-image: url('../images/snailbigbubble2.PNG');
  /* border: 1px solid red; */
  /* display: none; */
}

.popup-lose, .popup-win {
  display: none;
}

.speech-bubble {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 230px;
}
.text {

}
.start-button, .restart-button {
  margin-top: 30px;
}