* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
}
.page-decoration-div-container {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  width: 600px;
}
.page-decoration-wrapper {
  padding: 50px 100px;
  border: 1px solid blue;
  align-items: space-between;
  margin: 0 auto;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 525px;
  height: 600px;
  margin: 30px;
}

.grid div{
  border: 1px solid lightgray;
  flex-grow: 1;
  height: calc(100% / 16);
  width: calc(100% / 14);
}

.grid div.snail {
  background-image: url('../images/snail.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.safe-start-land {
  background-color: rgb(173, 199, 135);
}
